/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

input::placeholder {
  color: var(--LightMode-Subtext);
}

body {
  -ms-overflow-style: none;
}

:root {
  --vh: 100%;
}

html,
body {
  height: 100vh;
  height: var(--vh);
}
/* ::-webkit-scrollbar {
  display: none;
} */

.no-interaction {
  pointer-events: none; /* Disables interactions */
  opacity: 0.5; /* Optional: Dim the background for better user experience */
}
/*특정 부분 스크롤바 없애기*/

/* .box{
  -ms-overflow-style: none;
}
.box::-webkit-scrollbar{
 display:none;
} */

:root {
  --colorN-1: #e70000;
  --colorN-2: #fa7533;
  --colorN-3: #21a549;
  --colorN-4: #1060ff;
  --colorN-5: #7543ff;
  --colorN-6: #bb5abb;
  --colorN-7: #ff8a8a;
  --colorN-8: #e5ba00;
  --colorN-9: #91b6ff;
  --color-1: #ffb0b0;
  --color-2: #fdcab0;
  --color-3: #bbe8c9;
  --color-4: #b5ceff;
  --color-5: #d4c5ff;

  --LightMode-Hover: #e0edff;
  --LightMode-Text: #1f1f1f;
  --LightMode-Subtext: #7d8592;
  --LightMode-SectionBackground: #f0f4fa;
  --LightMode-Background: #ffffff;
  --Primary-50: #e8efff;
  --Primary-100: #b8ccff;
  --Primary-200: #96b4ff;
  --Primary-300: #6692ff;
  --Primary-400: #487dff;
  --Primary-500: #1a5cff;
  --Primary-600: #1854e8;
  --Primary-700: #1241b5;
  --Primary-800: #0e338c;
  --Primary-900: #0b276b;
  --Secondary-50: #e9eaec;
  --Secondary-100: #b9bdc5;
  --Secondary-200: #989da9;
  --Secondary-300: #687082;
  --Secondary-400: #4b5469;
  --Secondary-500: #1e2944;
  --Secondary-600: #1b253e;
  --Secondary-700: #151d30;
  --Secondary-800: #111725;
  --Secondary-900: #0d111d;
  --Gray-scale-50: #e6e6e6;
  --Gray-scale-100: #cccccc;
  --Gray-scale-200: #b3b3b3;
  --Gray-scale-300: #999999;
  --Gray-scale-400: #808080;
  --Gray-scale-500: #666666;
  --Gray-scale-600: #4d4d4d;
  --Gray-scale-700: #333333;
  --Gray-scale-800: #1a1a1a;
  --Gray-scale-900: #000000;
  --Accent-Stroke: #d8e0f0;
  --Accent-Separator: #e0e0e0;
  --Accent-Disabled: #ebecf0;
  --Accent-White: #ffffff;
  --Accent-Black: #000000;
  --Danger-50: #feeeef;
  --Danger-100: #fcc9ce;
  --Danger-200: #fbafb6;
  --Danger-300: #f98a94;
  --Danger-400: #f87480;
  --Danger-500: #f65160;
  --Danger-600: #e04a57;
  --Danger-700: #af3a44;
  --Danger-800: #872d35;
  --Danger-900: #672228;
  --Warning-50: #fff2e6;
  --Warning-100: #ffd5b0;
  --Warning-200: #ffc18a;
  --Warning-300: #ffa554;
  --Warning-400: #ff9433;
  --Warning-500: #ff7900;
  --Warning-600: #e86e00;
  --Warning-700: #b55600;
  --Warning-800: #8c4300;
  --Warning-900: #6b3300;
  --Success-50: #ebf6ee;
  --Success-100: #c0e4ca;
  --Success-200: #a2d7b0;
  --Success-300: #77c58c;
  --Success-400: #5db975;
  --Success-500: #34a853;
  --Success-600: #2f994c;
  --Success-700: #25773b;
  --Success-800: #1d5c2e;
  --Success-900: #164723;
  --Purple-50: #f2e9f6;
  --Purple-300: #a669bf;
  --Purple-500: #7a1fa0;
  --Orange-50: #fff4e6;
  --Orange-300: #feb455;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* - - - - -[로그인 시작]- - - - - */
.login_input_box {
  @apply h-[42px] w-[280px] rounded border  border-LightMode-Subtext py-3 pl-5 text-sm font-light;
}

.login_button,
.signup_button {
  @apply mb-3 flex h-[42px] w-[280px] cursor-pointer items-center justify-center rounded border py-2.5 font-semibold;
}

/* - - - - -[로그인 끝]- - - - - */

/* - - - - -[메인화면 시작]- - - - - */

.dropdown-container {
  @apply relative z-0 mr-10  h-[36px] w-[106px] cursor-pointer select-none flex-row items-center justify-center rounded  bg-LightMode-SectionBackground p-2 text-xs font-normal text-gray-400;
}
.dropdown-item {
  @apply absolute left-0 top-full  w-full rounded bg-white p-[10px];
}

.dropdown-item > li {
  @apply h-7  text-xs font-semibold text-LightMode-Subtext hover:font-bold  hover:text-LightMode-Text;
}
.dropdown-img {
  @apply ml-2 h-[8.75px] w-[20px];
}
/* - - - - -[메인화면 끝]- - - - - */

.Add_Btn {
  text-align: left;
}
.Add_Btn > button {
  margin-top: -3px;
  margin-left: 8px;
  color: #fff;
  border: none;
}
/* - - - - -[메인화면 끝]???? 확인해보고 삭제- - - - - */

/* - - - - -[모달창 시작]- - - - - */
.history-modal-style {
  background-color: white;
  width: 352px;
  height: 304px;
  position: fixed;
  font-size: 14px;
  top: 30%;
  left: 50%;
  border: 1px solid var(--gray-100);
  border-radius: 6px;
  transform: translate(-50%, -50%);
  outline: none;
  z-index: 12;
  padding-right: 0px !important;
}
.customerType-modal-style {
  background-color: white;
  width: 352px;
  height: 260px;
  position: fixed;
  font-size: 14px;
  top: 30%;
  left: 50%;
  border: 1px solid var(--gray-100);
  border-radius: 6px;
  transform: translate(-50%, -50%);
  outline: none;
  z-index: 12;
  padding-right: 0px !important;
}
.date-modal-style {
  background-color: white;
  width: 408px;
  height: 288px;
  padding: 20px;
  position: fixed;
  font-size: 14px;
  top: 50%;
  left: 50%;
  border: 1px solid var(--gray-100);
  border-radius: 6px;
  transform: translate(-50%, -50%);
  outline: none;
  z-index: 12;
}
.modal-style {
  background-color: white;
  width: 352px;
  height: 600px;
  margin-top: 60px;
  padding-left: 0px !important;
  position: fixed;
  font-size: 14px;
  top: 50%;
  left: 50%;
  border: 1px solid var(--gray-100);
  border-radius: 6px;
  transform: translate(-50%, -50%);
  outline: none;
  z-index: 7;
}
.modal-style-mobile {
  background-color: white;
  /* width: 360px; */
  /* height: 635px; */
  /* height: 100vh; */
  margin-top: 115px;
  padding-left: 0px !important;
  position: fixed;
  font-size: 14px;
  top: 50%;
  left: 50%;
  border: 1px solid var(--gray-100);
  transform: translate(-50%, -50%);
  outline: none;
  z-index: 7;
  overflow-y: auto; /* 세로 스크롤 활성화 */
  touch-action: pan-y; /* 세로 방향으로 터치 조작을 허용 */
  max-height: 80vh; /* 최대 높이 설정 */

  margin-bottom: env(safe-area-inset-bottom); /* iOS 안전 영역 패딩 추가 */
}
.modal-style-detail {
  background-color: white;
  width: 352px;
  height: 600px;
  margin-top: 60px;
  padding-right: 0px !important;
  position: fixed;
  font-size: 14px;
  top: 45%;
  left: 50%;
  border: 1px solid var(--gray-100);
  border-radius: 6px;
  transform: translate(-50%, -50%);
  outline: none;
  z-index: 17;
}

.options-modal-style {
  width: 216px;
  padding: 20px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 6px;
  z-index: 10; /* Adjust as needed */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.options-modal-style > button {
  @apply mb-5 h-10 w-[216px] rounded border border-Primary-300 bg-white font-[17px] font-semibold text-Primary-300 hover:bg-Primary-400 hover:text-white;
}
.add_Btn {
  @apply ml-12 mr-4 h-5 w-5;
}
.blur-background {
  position: fixed; /* 전체 화면에 적용 */
  top: 112px;
  left: 0%;
  width: 100%;
  height: 100%;
  filter: blur(5px);
  z-index: 5; /* 버튼보다 낮은 z-index 값 */
}
.blur-background-detail {
  position: fixed; /* 전체 화면에 적용 */
  top: 76px;
  left: 0%;
  width: 100%;
  height: 100%;
  filter: blur(5px);
  z-index: 5; /* 버튼보다 낮은 z-index 값 */
}
.Highlighting {
  @apply pr-1 text-[#FF0000];
}
.modal_item_container {
  @apply flex h-10 w-[352px] items-center;
}
.CustomerModal_item_container {
  @apply flex h-10 w-[352px] flex-row items-center justify-center;
}

.modal_item_input {
  @apply h-7 w-[192px] rounded border  placeholder-gray-300 focus:border-primary-100 focus:outline-none;
}
.modal_item_input_mobile {
  @apply h-9 w-[207px] rounded border  placeholder-gray-300 focus:border-primary-100 focus:outline-none;
}
.modal_item_input_memo {
  @apply flex h-14 w-[192px] rounded border  placeholder-gray-300 focus:border-primary-100 focus:outline-none;
}
.modal_item_input_memo_mobile {
  @apply flex w-[312px] rounded border  placeholder-gray-300 focus:border-primary-100 focus:outline-none;
}

.modal_address_item {
  @apply h-[28px] w-[60px]  rounded border;
}
.modal_address_item_mobile {
  @apply h-[36px] w-[100px] rounded border p-2;
}
/* - - - - -[모달창 끝]- - - - - */
/* - - - - -[체크박스 커스텀 시작]- - - - - */

/* 숨겨진 원래 체크박스 */
.hidden-checkbox {
  display: none;
}

/* 체크박스 레이블의 스타일링 */
.checkbox-label {
  display: inline-block;
  width: 8px;
  height: 8px;
  background-image: url("/public/check_off_8.png"); /* 체크되지 않은 상태의 이미지 */
  /* background-size: cover; */
  cursor: pointer;
}

/* 원래 체크박스가 체크되었을 때 레이블의 배경 이미지 변경 */
.hidden-checkbox:checked + .checkbox-label {
  background-image: url("/public/check_on_8.png");
  /* background-size: cover; 이미지 크기 조정 */
}
.hidden-checkbox {
  display: none;
}

/* 체크박스 레이블의 스타일링 */
.checkbox-label_14 {
  display: inline-block;
  width: 14px;
  height: 14px;
  background-image: url("/public/check_off_14.png"); /* 체크되지 않은 상태의 이미지 */
  cursor: pointer;
}

/* 원래 체크박스가 체크되었을 때 레이블의 배경 이미지 변경 */
.hidden-checkbox:checked + .checkbox-label_14 {
  background-image: url("/public/check_on_14.png");
}

/* Hide the original checkbox */
.hidden-checkbox {
  display: none;
}

/* Styling for the label with a custom checkbox image */
.checkbox-custom label::before {
  content: "";
  display: inline-block;
  width: 14px;
  height: 14px;
  background-image: url("/public/check_off_14.png");
  vertical-align: middle;
}

/* Change the image when the checkbox is checked */
.hidden-checkbox:checked + label::before {
  background-image: url("/public/check_on_14.png");
}

/* Styling for label text when checkbox is checked */
.checkbox-custom label {
  color: black;
}

.hidden-checkbox:checked + label {
  color: var(--Primary-400);
}
/* - - - - -[체크박스 커스텀 끝]- - - - - */
.context-menu {
  @apply absolute z-10  rounded;
}

.context-menu-item {
  @apply flex cursor-pointer  bg-white  font-semibold text-LightMode-Text hover:bg-primary-100 hover:text-white;
}

.context-menu :nth-child(1) {
  border-radius: 4px 4px 0px 0px;
}
.context-menu :nth-child(2) {
  border-radius: 0px 0px 4px 4px;
}

.file-selector-button,
.btn-upload {
  width: 150px;
  height: 30px;
  background: #fff;
  border: 1px solid rgb(77, 77, 77);
  border-radius: 10px;
  font-weight: 500;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover {
    background: rgb(77, 77, 77);
    color: #fff;
  }
}

#file {
  display: none;
}
/* ????????? 도대체 어디에 적용된 코드임??? */
.customerName {
  margin: 16px 0px;
  margin-bottom: 8px;
  font-size: 36px;
  font-weight: bold;
}
.customerPhone {
  color: #667085;
  font-size: 24px;
  font-weight: bold;
  opacity: 0.9;
  user-select: text !important;
}
.customer-info-container {
  width: 500px;
  height: 360px;
  border-radius: 50px;
  box-shadow: 10px 4px 4px 0px rgba(46, 64, 97, 0.1);
  overflow: auto; /* 내용이 컨테이너를 넘어갈 경우 스크롤바 표시 */
  margin: 30px 48px;
  background-color: #fff;
}
.customerHistorySection {
  width: 500px;
  height: 500px;
  border-radius: 50px;
  box-shadow: 10px 4px 4px 0px rgba(46, 64, 97, 0.1);
  overflow: auto; /* 내용이 컨테이너를 넘어갈 경우 스크롤바 표시 */
  margin: 30px 48px;
  background-color: #fff;
}
.pageNation_Btn {
  @apply my-[30px] flex h-10 items-center justify-center;
}
.pageNation_Btn button {
  @apply ml-1 h-6 w-6 rounded-md  bg-LightMode-SectionBackground;
}
.CustomerInfo_title,
.CustomerHistory_title {
  display: flex;
  margin: 28px 40px;
  font-weight: 700;
  font-size: 24px;
}

.CustomerHistory_title {
  justify-content: space-between;
  align-items: center;
}
.modal-title {
  user-select: none;
}

.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: #e0f2f1 !important; /* 원하는 색으로 변경 */
}

.MapCustomerDetail_item_container {
  @apply flex h-[54px]  items-center text-xs odd:bg-LightMode-SectionBackground;
}
.MapCustomerDetail_item_wrapper > div {
  margin-bottom: 4px;
}
