/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

input::placeholder {
  color: var(--LightMode-Subtext);
}

body {
  -ms-overflow-style: none;
}

/* ::-webkit-scrollbar {
  display: none;
} */

.no-interaction {
  pointer-events: none; /* Disables interactions */
  opacity: 0.5; /* Optional: Dim the background for better user experience */
}
/*특정 부분 스크롤바 없애기*/

/* .box{
  -ms-overflow-style: none;
}
.box::-webkit-scrollbar{
 display:none;
} */

:root {
  --gray-50: #9e9e9e;
  --gray-100: #f3f3f3;
  --gray-150: #b8b8b8;
  --gray-200: #d9d9d9;
  --gray-250: #575757;
  --gray-300: #cfcfcf;
  --gray-350: #616161;
  --gray-400: #98a2b3;
  /* --primary-100: #175cd3; */
  /* --primary-100: #b61865; */
  --primary-100: #6692ff;
  --secondary-100: #175cd3;
  --secondary-400: #ffcd5b;
  --secondary-500: #ffc132;
  --colorN-1: #e70000;
  --colorN-2: #fa7533;
  --colorN-3: #21a549;
  --colorN-4: #1060ff;
  --colorN-5: #7543ff;
  --colorN-6: #bb5abb;
  --colorN-7: #ff8a8a;
  --colorN-8: #e5ba00;
  --colorN-9: #91b6ff;
  --color-1: #ffb0b0;
  --color-2: #fdcab0;
  --color-3: #bbe8c9;
  --color-4: #b5ceff;
  --color-5: #d4c5ff;

  --LightMode-Hover: #e0edff;
  --LightMode-Text: #1f1f1f;
  --LightMode-Subtext: #7d8592;
  --LightMode-SectionBackground: #f0f4fa;
  --LightMode-Background: #ffffff;
  --Primary-50: #e8efff;
  --Primary-100: #b8ccff;
  --Primary-200: #96b4ff;
  --Primary-300: #6692ff;
  --Primary-400: #487dff;
  --Primary-500: #1a5cff;
  --Primary-600: #1854e8;
  --Primary-700: #1241b5;
  --Primary-800: #0e338c;
  --Primary-900: #0b276b;
  --Secondary-50: #e9eaec;
  --Secondary-100: #b9bdc5;
  --Secondary-200: #989da9;
  --Secondary-300: #687082;
  --Secondary-400: #4b5469;
  --Secondary-500: #1e2944;
  --Secondary-600: #1b253e;
  --Secondary-700: #151d30;
  --Secondary-800: #111725;
  --Secondary-900: #0d111d;
  --Gray-scale-50: #e6e6e6;
  --Gray-scale-100: #cccccc;
  --Gray-scale-200: #b3b3b3;
  --Gray-scale-300: #999999;
  --Gray-scale-400: #808080;
  --Gray-scale-500: #666666;
  --Gray-scale-600: #4d4d4d;
  --Gray-scale-700: #333333;
  --Gray-scale-800: #1a1a1a;
  --Gray-scale-900: #000000;
  --Accent-Stroke: #d8e0f0;
  --Accent-Separator: #e0e0e0;
  --Accent-Disabled: #ebecf0;
  --Accent-White: #ffffff;
  --Accent-Black: #000000;
  --Danger-50: #feeeef;
  --Danger-100: #fcc9ce;
  --Danger-200: #fbafb6;
  --Danger-300: #f98a94;
  --Danger-400: #f87480;
  --Danger-500: #f65160;
  --Danger-600: #e04a57;
  --Danger-700: #af3a44;
  --Danger-800: #872d35;
  --Danger-900: #672228;
  --Warning-50: #fff2e6;
  --Warning-100: #ffd5b0;
  --Warning-200: #ffc18a;
  --Warning-300: #ffa554;
  --Warning-400: #ff9433;
  --Warning-500: #ff7900;
  --Warning-600: #e86e00;
  --Warning-700: #b55600;
  --Warning-800: #8c4300;
  --Warning-900: #6b3300;
  --Success-50: #ebf6ee;
  --Success-100: #c0e4ca;
  --Success-200: #a2d7b0;
  --Success-300: #77c58c;
  --Success-400: #5db975;
  --Success-500: #34a853;
  --Success-600: #2f994c;
  --Success-700: #25773b;
  --Success-800: #1d5c2e;
  --Success-900: #164723;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
/* - - - - -[네비게이션바 시작]- - - - - */
.vertical-navbar {
  display: flex;
  flex-direction: row;
  width: 100vw;

  background-color: white;
  z-index: 1;
  padding: 24px 48px;
  position: fixed;
}
.landing-page-navbar {
  color: white;
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(30px);
  /* animation: slideDown 20.35s ease-out; */
  z-index: 15;
}

/* 텍스트 색상 클래스 예시 */
.text-color-1 {
  color: var(--LightMode-Text);
}
.text-color-2 {
  color: var(--Success-300);
}
.text-color-3 {
  color: var(--Primary-500);
}
.text-color-4 {
  color: var(--Success-600);
}
.text-color-5 {
  color: red;
}
.Dbbar {
  padding-top: 76px;
}
/* 로고 */
.brand {
  /* background: linear-gradient(to right top, #861657, #ffa69e); */
  background: var(
    --Gradients-Style-52,
    linear-gradient(107deg, #4568dc 0%, #b06ab3 97.22%)
  );
  color: transparent;
  -webkit-background-clip: text;
  font-size: 20px;
  font-weight: bold;
  margin-right: 88px;
  text-align: left;
  cursor: pointer;
  padding-top: 4px;
}
.logo {
  /* background: linear-gradient(to right top, #861657, #ffa69e); */
  background: var(
    --Gradients-Style-52,
    linear-gradient(107deg, #4568dc 0%, #b06ab3 97.22%)
  );
  color: transparent;
  -webkit-background-clip: text;
  font-size: 25px;
  font-weight: bold;
}
.navbar-container {
  display: flex;
  flex-direction: row;
}
.navbar-container > div {
  margin-right: 80px;
}

.navbar-item:hover,
.navbar-item:focus {
  font-weight: bold;
}

/* 전체 */
.navbar-client :nth-child(1) {
  margin-top: 46px;
}
.navbar-client > div {
  @apply mb-5 text-[17px] hover:font-bold hover:text-LightMode-Text;
}
.navbar-client :nth-child(4) {
  margin-bottom: 16px;
}

.navbar-container :nth-child(5) {
  display: flex;
  align-items: flex-start;
  width: 24px;
  margin-left: 88px;
  margin-top: 2px;
  margin-right: 24px !important;
}
/* 마이페이지 */
.navbar-container :nth-child(6) {
  display: flex;
  align-items: flex-start;
  width: 20px;
  margin-top: 4px;
  margin-right: 0px !important;
}
.navbar-client-item {
  cursor: pointer;
}
.navbar-black-blur {
  position: fixed;
  top: 254px; /* NavbarItem 아래에서 시작 */
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4); /* 검은색 배경 투명도 0.4 */
  /* backdrop-filter: blur(5px); 블러 효과 */
  z-index: 15; /* NavbarItem 아래에 위치하도록 z-index 설정 */
}
.navbar-search-black-blur {
  position: fixed;
  top: 164px; /* NavbarItem 아래에서 시작 */
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4); /* 검은색 배경 투명도 0.4 */
  /* backdrop-filter: blur(5px); 블러 효과 */
  z-index: 15; /* NavbarItem 아래에 위치하도록 z-index 설정 */
}
/* - - - - -[네비게이션바 끝]- - - - - */

/* - - - - -[회원가입 시작]- - - - - */
.Highlighting {
  @apply pr-1 text-[#FF0000];
}
.signin_input_box {
  @apply h-[42px] w-[360px] rounded border border-Gray-scale-50 py-3 pl-5 text-sm font-light;
}
.signin_span {
  @apply mr-10 flex h-[42px] w-[88px] cursor-default items-center  text-sm font-medium;
}

.signin_hr0 {
  @apply w-[780px] border-[1px] border-white;
}
.signin_hr1 {
  @apply mb-7 mt-6 w-[780px] border-[1px] border-white;
}
.signin_hr2 {
  @apply mb-7  w-[780px] border-[1px] border-white;
}
.signin_hr3 {
  @apply mb-24 mt-0 w-[780px] border-[1px] border-white;
}

/* - - - - -[회원가입 끝]- - - - - */
/* - - - - -[로그인 시작]- - - - - */
.login_input_box {
  @apply h-[42px] w-[280px] rounded border  border-LightMode-Subtext py-3 pl-5 text-sm font-light;
}

.login_button,
.signup_button {
  @apply mb-3 flex h-[42px] w-[280px] cursor-pointer items-center justify-center rounded border py-2.5 font-semibold;
}

/* - - - - -[로그인 끝]- - - - - */

/* - - - - -[메인화면 시작]- - - - - */

.dropdown-container {
  @apply relative ml-[764px] mr-10 flex h-[36px] w-[106px] cursor-pointer select-none flex-row items-center justify-center rounded  bg-LightMode-SectionBackground p-2 text-xs font-normal text-gray-400;
}
.dropdown-item {
  /* position: absolute; 절대적 위치
  top: 100%; `<ul>`의 아래쪽에 위치
  width: 100%; 부모 컨테이너 너비에 맞춤 */
  @apply absolute left-0 top-full  w-full rounded bg-white p-[10px];
}

.dropdown-item > li {
  @apply h-7  text-xs font-semibold text-LightMode-Subtext text-LightMode-Subtext hover:font-bold  hover:text-LightMode-Text;
}
.dropdown-img {
  @apply ml-2 h-[8.75px] w-[20px];
}
/* - - - - -[메인화면 끝]- - - - - */

.Add_Btn {
  text-align: left;
}
.Add_Btn > button {
  margin-top: -3px;
  margin-left: 8px;
  color: #fff;
  border: none;
}
/* - - - - -[메인화면 끝]???? 확인해보고 삭제- - - - - */
/* - - - - -[상세정보 시작]- - - - - */
.customer-detail-container {
  /* width: 1024px; */
  /* overflow: auto; 내용이 컨테이너를 넘어갈 경우 스크롤바 표시 */
  text-align: start;
}
.backpage {
  @apply ml-12 h-9 min-w-[1024px] bg-white py-[9px] text-sm font-normal;
}
.detailTitle {
  @apply mr-16  flex w-60 pl-24 text-sm;
}
.infoItem {
  @apply mb-3 flex cursor-default flex-row text-sm font-semibold;
}
.infoTitle {
  @apply w-[76px] text-left;
}
.infoSpan {
  @apply text-sm font-normal text-black;
}
.history-container {
  @apply mb-3 flex h-[68px]  w-[622px] select-text flex-row items-center rounded border-2 border-white pl-[20px] pr-[30px] shadow-[0_2px_4px_0_rgba(0,0,0,0.10)];
}
/* 진척도 */
.historyItemStyle1 {
  @apply mr-[57px] cursor-default
  pl-[4px] text-[17px] font-bold;
}
/* 시간, 장소 */
.historyItemStyle2 {
  @apply mb-2 flex cursor-default text-sm font-semibold;
}
/* 메모 */
.historyItemStyle3 {
  @apply flex cursor-default text-xs font-normal;
}
/* - - - - -[상세정보 끝]- - - - - */
/* - - - - -[모달창 시작]- - - - - */
.excelupload-modal-style {
  background-color: white;
  width: 986px;
  height: 240px;
  position: fixed;
  /* padding-right: 0px !important; */
  font-size: 14px;
  top: 50%;
  left: 50%;
  border: 1px solid var(--gray-100);
  border-radius: 6px;
  transform: translate(-50%, -50%);
  box-shadow: 0px 18px 28px 0px rgba(0, 0, 0, 0.2);
  outline: none;
  z-index: 12; /* Adjust as needed */
}
.excelupload-modal-style2 {
  background-color: white;
  width: 986px;
  height: 544px;
  position: fixed;
  padding-left: 0px !important;
  font-size: 14px;
  top: 50%;
  left: 50%;
  border: 1px solid var(--gray-100);
  border-radius: 6px;
  transform: translate(-50%, -50%);
  box-shadow: 0px 18px 28px 0px rgba(0, 0, 0, 0.2);
  outline: none;
  z-index: 12; /* Adjust as needed */
}
.Excel-Item-Title > div {
  @apply ml-1 flex h-7 items-center justify-center bg-Secondary-300 text-center text-xs text-white;
}
.td-db-date {
  @apply ml-1 flex h-7 w-[96px] items-center justify-center border border-Gray-scale-50;
} /* Adjust widths as needed */
.td-name {
  @apply ml-1 flex h-7 w-[70px] items-center justify-center border border-Gray-scale-50;
}
.td-customer-type {
  @apply ml-1 flex h-7 w-[70px] items-center justify-center border border-Gray-scale-50;
}
.td-birth {
  @apply ml-1 flex h-7 w-[70px] items-center justify-center border border-Gray-scale-50;
}
.td-age {
  @apply ml-1 flex h-7 w-[50px] items-center justify-center border border-Gray-scale-50;
}
.td-contact {
  @apply ml-1 flex h-7 w-[122px] items-center justify-center border border-Gray-scale-50;
}
.td-residence {
  @apply ml-1 flex h-7 w-[142px] items-center justify-center overflow-hidden overflow-ellipsis  whitespace-nowrap border border-Gray-scale-50 px-[10px];
}
.td-special-note {
  @apply ml-1 flex h-7 w-[142px] items-center justify-center overflow-hidden overflow-ellipsis  whitespace-nowrap border border-Gray-scale-50 px-[10px];
}
.td-state {
  @apply ml-1 flex h-7 w-[110px] items-center justify-center overflow-hidden overflow-ellipsis  whitespace-nowrap border border-Gray-scale-50 px-[10px];
}

.cell-invalid {
  @apply border-Danger-600 bg-Danger-50 font-semibold text-Danger-600; /* Example using Tailwind CSS for red background with 50% opacity */
}
/* input type=file 커스텀 */
.filebox .upload-name {
  display: inline-block;
  width: 708px;
  height: 40px;
  padding: 0 10px;
  vertical-align: middle;
  border: 1px solid var(--Gray-scale-50);
  color: var(--Gray-scale-400);
  background-color: #fff; /* Add background color for visibility */
}

.filebox label {
  display: flex;
  width: 110px;
  height: 40px;
  /* padding: 11px 22px; */
  font-size: 14px;
  align-items: center;
  justify-content: center;
  color: var(--LightMode-Text);
  vertical-align: middle;
  border: 1px solid var(--Gray-scale-100);
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  margin-left: 12px;
}

.filebox input[type="file"] {
  position: absolute;
  width: 0;
  height: 0;
  padding: 0;
  overflow: hidden;
  border: 0;
}
/* input type=file 커스텀  끝 */

.history-modal-style {
  background-color: white;
  width: 352px;
  height: 304px;
  position: fixed;
  font-size: 14px;
  top: 30%;
  left: 50%;
  border: 1px solid var(--gray-100);
  border-radius: 6px;
  transform: translate(-50%, -50%);
  outline: none;
  z-index: 12; /* Adjust as needed */
  padding-right: 0px !important;
}
.date-modal-style {
  background-color: white;
  width: 408px;
  height: 288px;
  padding: 20px;
  position: fixed;
  font-size: 14px;
  top: 50%;
  left: 50%;
  border: 1px solid var(--gray-100);
  border-radius: 6px;
  transform: translate(-50%, -50%);
  outline: none;
  z-index: 12; /* Adjust as needed */
}
.modal-style {
  background-color: white;
  width: 352px;
  height: 600px;
  margin-top: 60px;
  padding-left: 0px !important;
  position: fixed;
  font-size: 14px;
  top: 50%;
  left: 50%;
  border: 1px solid var(--gray-100);
  border-radius: 6px;
  transform: translate(-50%, -50%);
  outline: none;
  z-index: 7; /* Adjust as needed */
}
.modal-style-detail {
  background-color: white;
  width: 352px;
  height: 600px;
  margin-top: 60px;
  padding-right: 0px !important;
  position: fixed;
  font-size: 14px;
  top: 45%;
  left: 50%;
  border: 1px solid var(--gray-100);
  border-radius: 6px;
  transform: translate(-50%, -50%);
  outline: none;
  z-index: 7; /* Adjust as needed */
}

.options-modal-style {
  width: 216px;
  padding: 20px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 6px;
  z-index: 10; /* Adjust as needed */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.options-modal-style > button {
  @apply mb-5 h-10 w-[216px] rounded border border-Primary-300 bg-white font-[17px] font-semibold text-Primary-300 hover:bg-Primary-400 hover:text-white;
}
.add_Btn {
  @apply ml-12 mr-4 h-5 w-5;
}
.blur-background {
  /* filter: blur(5px); */
  position: fixed; /* 전체 화면에 적용 */
  top: 112px;
  left: 0%;
  width: 100%;
  height: 100%;
  filter: blur(5px);
  z-index: 5; /* 버튼보다 낮은 z-index 값 */
}
.blur-background-detail {
  /* filter: blur(5px); */
  position: fixed; /* 전체 화면에 적용 */
  top: 76px;
  left: 0%;
  width: 100%;
  height: 100%;
  filter: blur(5px);
  z-index: 5; /* 버튼보다 낮은 z-index 값 */
}
.blur-navbar-datechange {
  position: fixed; /* 전체 화면에 적용 */
  top: 164px; /* NavbarItem 아래에서 시작 */
  left: 0;
  right: 0;
  bottom: 0;
  backdrop-filter: blur(5px);
  z-index: 5; /* 버튼보다 낮은 z-index 값 */
}

.Modal_container {
  @apply px-8;
}

.modal_item_container {
  @apply flex h-10 w-[352px] items-center;
}
.modal_item_input {
  @apply h-7 w-[192px] rounded border  placeholder-gray-300 focus:border-primary-100 focus:outline-none;
}
.modal_item_input_memo {
  @apply flex h-14 w-[192px] rounded border  placeholder-gray-300 focus:border-primary-100 focus:outline-none;
}

.modal_address_item {
  @apply h-[28px] w-[60px]  rounded border;
}
/* - - - - -[모달창 끝]- - - - - */
/* - - - - -[체크박스 커스텀 시작]- - - - - */

/* 숨겨진 원래 체크박스 */
/* 숨겨진 원래 체크박스 */
.hidden-checkbox {
  display: none;
}

/* 체크박스 레이블의 스타일링 */
.checkbox-label {
  display: inline-block;
  width: 8px;
  height: 8px;
  background-image: url("/public/check_off_8.png"); /* 체크되지 않은 상태의 이미지 */
  /* background-size: cover; */
  cursor: pointer;
}

/* 원래 체크박스가 체크되었을 때 레이블의 배경 이미지 변경 */
.hidden-checkbox:checked + .checkbox-label {
  background-image: url("/public/check_on_8.png");
  /* background-size: cover; 이미지 크기 조정 */
}
.hidden-checkbox {
  display: none;
}

/* 체크박스 레이블의 스타일링 */
.checkbox-label_14 {
  display: inline-block;
  width: 14px;
  height: 14px;
  background-image: url("/public/check_off_14.png"); /* 체크되지 않은 상태의 이미지 */
  /* background-size: cover; */
  cursor: pointer;
}

/* 원래 체크박스가 체크되었을 때 레이블의 배경 이미지 변경 */
.hidden-checkbox:checked + .checkbox-label_14 {
  background-image: url("/public/check_on_14.png");
  /* background-size: cover; 이미지 크기 조정 */
}
/* .hidden-checkbox:checked + .checkbox-label { */
/* background-image: url("/public/check_on.png"); */
/* background-size: cover; */
/* } */

/* Hide the original checkbox */
.hidden-checkbox {
  display: none;
}

/* Styling for the label with a custom checkbox image */
.checkbox-custom label::before {
  content: "";
  display: inline-block;
  width: 14px;
  height: 14px;
  background-image: url("/public/check_off_14.png"); /* Default image */
  /* margin-right: 8px; */
  vertical-align: middle;
}

/* Change the image when the checkbox is checked */
.hidden-checkbox:checked + label::before {
  background-image: url("/public/check_on_14.png");
}

/* Styling for label text when checkbox is checked */
.checkbox-custom label {
  color: black; /* Default text color */
}

.hidden-checkbox:checked + label {
  color: var(--Primary-400); /* Color for checked state */
}
/* - - - - -[체크박스 커스텀 끝]- - - - - */
.context-menu {
  @apply absolute z-10 h-[38px] w-[108px]  rounded;
}

.context-menu-item {
  @apply flex cursor-pointer items-start   bg-white px-5 py-[9px] text-sm font-semibold text-LightMode-Text hover:bg-primary-100 hover:text-white;
}

.context-menu :nth-child(1) {
  border-radius: 4px 4px 0px 0px;
}
.context-menu :nth-child(2) {
  border-radius: 0px 0px 4px 4px;
}

.file-selector-button,
.btn-upload {
  width: 150px;
  height: 30px;
  background: #fff;
  border: 1px solid rgb(77, 77, 77);
  border-radius: 10px;
  font-weight: 500;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover {
    background: rgb(77, 77, 77);
    color: #fff;
  }
}

#file {
  display: none;
}

.customerName {
  margin: 16px 0px;
  margin-bottom: 8px;
  font-size: 36px;
  font-weight: bold;
}
.customerPhone {
  color: #667085;
  font-size: 24px;
  font-weight: bold;
  opacity: 0.9;
  user-select: text !important;
}
.customer-info-container {
  width: 500px; /* 원하는 가로 크기 */
  height: 360px;
  border-radius: 50px;
  box-shadow: 10px 4px 4px 0px rgba(46, 64, 97, 0.1);
  overflow: auto; /* 내용이 컨테이너를 넘어갈 경우 스크롤바 표시 */
  margin: 30px 48px;
  background-color: #fff;
}
.customerHistorySection {
  width: 500px; /* 원하는 가로 크기 */
  height: 500px; /* 원하는 세로 크기 */
  border-radius: 50px;
  box-shadow: 10px 4px 4px 0px rgba(46, 64, 97, 0.1);
  overflow: auto; /* 내용이 컨테이너를 넘어갈 경우 스크롤바 표시 */
  margin: 30px 48px;
  background-color: #fff;
}
.pageNation_Btn {
  @apply my-[30px] flex h-10 items-center justify-center;
}
.pageNation_Btn button {
  @apply ml-1 h-6 w-6 rounded-md  bg-LightMode-SectionBackground;
}
.CustomerInfo_title,
.CustomerHistory_title {
  display: flex;
  margin: 28px 40px;
  font-weight: 700;
  font-size: 24px;
}

.CustomerHistory_title {
  justify-content: space-between;
  align-items: center;
}
.modal-title {
  user-select: none;
}
.analysis_container {
  display: grid;
  grid-gap: 8px;
  background-color: var(--LightMode-SectionBackground);
  grid-template-columns: 607px 313px;
  grid-template-rows: 175px 175px 175px 40px;
  grid-template-areas:
    "explain graph1"
    "graph4 graph2"
    "graph4 graph3"
    " update update";
}
.analysis_container > div {
  /* border: 1px solid #98a2b3; */
}
.analysis_header {
  grid-area: header;
  margin-top: 18px;
  margin-left: -10px;
  cursor: default;
}
.analysis_header {
  border: none !important;
}
.analysis_subtitle {
  width: 412px;
  /* grid-area: subtitle; */
  font-size: 16px;
  text-align: right;
  color: var(--LightMode-Subtext);
  border: none !important;
}
.analysis_subtitle > span {
  padding-right: 24px;
}
.analysis_subtitle > span:last-of-type {
  padding-right: 0px;
  /* margin-left: -4px; */
}
.analysis_subtitle_left {
  width: 128px;
  /* grid-area: subtitleleft; */
  display: flex;
  align-items: center;
  border: none !important;
  margin-right: 390px;
  margin-left: 8px;
  font-size: 17px;
  font-weight: 700;
  color: var(--LightMode-Text);
  cursor: pointer;
}
.analysis_explain {
  grid-area: explain;
  display: flex;
  font-size: 14px;
  font-weight: 400;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 10px;
  border: 1px solid white;
  color: var(--LightMode-Text);
  background-color: var(--LightMode-SectionBackground);
  box-shadow: 0px 18px 28px 0px rgba(0, 0, 0, 0.2);
}
.analysis_explain > div {
  margin-bottom: 10px;
}

.analysis_explain_item > span {
  text-align: left;
  padding-left: 12px;
}

.analysis_explain_item :nth-child(1) {
  width: 80px;
  text-align: left;
}
.explain_item_title {
  width: 90px !important;
  text-align: left !important;
}
.analysis_explain > div:first-child {
  @apply mt-[-20px] flex w-full justify-start pl-6 text-[16px] font-bold text-LightMode-Text;
}

.analysis_graph1 {
  grid-area: graph1;
}
.analysis_graph2 {
  grid-area: graph2;
}
.analysis_graph3 {
  grid-area: graph3;
}
.analysis_graph4 {
  grid-area: graph4;
}
.analysis_graph3,
.analysis_graph2,
.analysis_graph1 {
  position: relative; /* 이것은 내부의 absolute 요소를 정확한 위치에 배치하기 위함입니다. */
  /* 기타 스타일... */
}

.Ta_ratio_item {
  position: absolute; /* 이것은 요소를 겹치게 할 것입니다. */
  /* top: 0; 상단에서부터의 위치 */
  right: 0; /* 오른쪽에서부터의 위치 */
  z-index: 10; /* TaGraph 위에 오도록 z-index 설정 */
  margin-top: 26px;
}
.Ta_ratio_item > span {
  padding-bottom: 10px;
  color: var(--LightMode-Subtext);
}
.recharts-pie-sector:focus {
  outline: none;
}
.updateMessage {
  grid-area: update;
  color: var(--LightMode-Subtext);
  font-size: 14px;
  align-items: center;
  display: flex;
  justify-content: end;
  border: none !important;
  opacity: 0.7;
}
.Map_customerList_item {
  @apply flex h-[58px] items-center;
}

.inline-container-left {
  display: flex;
  width: 37%;
  align-items: center;
  opacity: 1;
  color: #000;
  font-weight: bold;
  font-size: 14px;
  padding-left: 16px;
}
.inline-container-right {
  width: 63%;
  color: #000;
  font-weight: 600;
  padding-left: 34px;

  /* opacity: 0.9; */
}
.customer-info {
  margin-bottom: 2px;
  padding-left: 10px;
  /* text-align: center; */
  font-weight: 400;
}
.customer-type {
  font-weight: bold;
}
.font12 {
  font-size: 12px;
}
.Map_Search_Btn {
  border: none;
  width: 210px;
  height: 32px;
  padding: 4px 28px;
  color: #fff;
  background-color: var(--Gray-scale-700);
  border-radius: 10px;
}
.inline-container-left :nth-child(1) {
  width: 32px;
}
.inline-container-left :nth-child(2) {
  width: 60px;
}
.inline-container-right :nth-child(1) {
  width: 140px;
}
.inline-container-right :nth-child(2) {
  width: 170px;
  padding-right: 16px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.Map_list_hr {
  display: block !important;
}

.map_spinner {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  z-index: 5;
}

.custom-overlay {
  display: flex;
  width: 105px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 4px;
}
.custom-overlay-items {
  width: 105px;
  height: 32px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: var(--Primary-400); */
  /* color: #fff; */
  font-size: 12px;
  font-weight: bold;
  border: none;
  border-radius: 4px;
}
.custom-overlay-items.active {
  background-color: var(--Primary-400); /* 활성화 배경색 */
  color: var(--LightMode-Background); /* 활성화 글자색 */
}

.custom-overlay-items.inactive {
  background-color: var(--LightMode-SectionBackground); /* 비활성화 배경색 */
  color: var(--LightMode-Subtext); /* 비활성화 글자색 */
}
.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: #e0f2f1 !important; /* 원하는 색으로 변경 */
}

.MapCustomerDetail_item_container {
  @apply flex h-[54px]  items-center text-xs odd:bg-LightMode-SectionBackground;
}
.MapCustomerDetail_item_wrapper > div {
  margin-bottom: 4px;
}

@media (max-width: 700px) {
  /* .navbar-container  */
  .signin_code_button {
    font-size: 14px !important;
  }

  .content {
    border-right: none !important;
  }

  .Main_container,
  .Detail_content,
  .content {
    margin-left: 12px !important;
    font-size: 12px;
    width: 600px !important;
  }
  .listItemStyle1 {
    width: 110px !important;
    display: none !important;
  }
  .listItemStyle2 {
    width: 70px !important;
    padding: 8px 10px 8px 10px !important;
  }
  .listItemStyle3 {
    width: 60px !important
    ;
    padding: 8px 10px 8px 10px !important;
  }
  .listItemStyle4 {
    width: 150px !important
    ;
    padding: 8px 10px 8px 10px !important;
  }
  .listItemStyle5 {
    width: 120px !important
    ;
    padding: 8px 10px 8px 10px !important;
  }
  .listItemStyle6 {
    width: 130px !important
    ;
    padding: 8px 10px 8px 10px !important;
  }
  .listItemTitleStyle1 {
    width: 110px !important;
    display: none !important;
  }
  .listItemTitleStyle2 {
    width: 70px !important;
    padding: 8px 10px 8px 10px !important;
  }
  .listItemTitleStyle3 {
    width: 60px !important;
    padding: 8px 10px 8px 10px !important;
  }
  .listItemTitleStyle4 {
    width: 150px !important;
    padding: 8px 10px 8px 10px !important;
  }
  .listItemTitleStyle5 {
    width: 120px !important;
    padding: 8px 10px 8px 10px !important;
  }
  .listItemTitleStyle6 {
    width: 130px !important;
    padding: 8px 10px 8px 10px !important;
  }

  .DbbarItems {
    font-size: 16px !important;
    margin-left: -2px !important;
  }
  .DbbarItem-container,
  .Dbbar_hr {
    width: 600px !important;
  }
  .Search_container {
    margin-left: 0px !important;
  }
  .Dbbar_hr {
    margin-top: 8px !important;
  }
  .Search_input {
    width: 180px !important;
    height: 32px !important;
    padding: 8px !important ;
    margin-left: 16px !important;
    font-size: 12px !important;
  }
  .Search_button {
    width: 48px !important;
    height: 32px !important;
  }
  .maintitle {
    font-size: 30px !important;
    margin-bottom: -10px !important;
    margin-top: -12px;
  }
  .Add_Btn {
    width: 120px !important;
    height: 32px !important;
    display: flex !important;
  }
  .Add_Btn2 {
    width: 62px !important;
    height: 35px !important;
    font-size: 12px !important;
  }
  #dropdown-basic-button {
    font-size: 12px !important;
    margin-left: 0px !important;
    margin-right: -6px !important;
    height: 35px !important;
  }
  /* 고객 추가 모달창 모바일 */
  /* 디테일창 고객정보 수정 모달창 모바일 */
  .modal-content {
    margin: auto;
  }
  .modal-title {
    font-size: 18px !important;
    margin-bottom: -4px !important;
  }

  .modal-content,
  .Modal_container {
    width: 380px !important;
    font-size: 14px !important;
  }
  .Modal_container input,
  .Modal_container textarea {
    font-size: 14px !important;
  }

  .Modal_container textarea:last-of-type {
    white-space: nowrap !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
  }

  .Modal_container .btn {
    font-size: 12px !important;
  }

  .Modal_customerType_item:first-of-type {
    margin-left: 4px !important;
  }

  .Modal_customerType {
    display: none !important;
  }
  /* 디테일창 모바일 */
  .Detail_container,
  .customer-detail-container,
  .customer_info_container,
  .customer-history-container,
  .infoItem {
    width: 400px !important;
  }
  .Detail_container {
    margin: 0px !important;
  }
  .customer-detail-container {
    margin-top: 0px !important;
    height: 234px !important;
  }
  .backpage {
    margin-top: 16px !important;
    margin-bottom: 32px !important;
  }
  .navigation {
    font-size: 14px !important;
  }
  .customerdetail_editmodal {
    margin-right: 15px !important;
  }
  .customer_tnp {
    font-size: 12px !important;
    width: 30px !important;
    height: 22px !important;
    margin-bottom: 0px !important;
  }
  .Detail_hr {
    margin-top: 0px !important;
    width: 400px !important;
  }
  .customerName {
    font-size: 22px !important;
    padding-bottom: 4px !important;
  }
  .Detail_checkbox {
    font-size: 22px !important;
  }
  .userName {
    margin: 0px !important;
  }
  .customerPhone {
    font-size: 16px !important;
    margin-bottom: 0px !important;
  }
  .infoItem,
  .infoSpan {
    font-size: 14px !important;
  }
  .infoSpan {
    margin-left: 24px !important;
  }
  .infoSpanaddress {
    margin-left: 52px !important;
  }
  .Detail_hr2 {
    margin-top: 18px !important;
  }
  .customer-histoy-top > h5 {
    font-size: 16px !important;
  }
  .customer-histoy-top {
    padding-right: 0px !important;
    margin-right: -8px !important;
  }
  .Detail_container {
    width: 450px !important;
  }
  /* 히스토리창 모바일 */
  .history_item_container,
  .history_items,
  .history_items_dateaddress,
  .history_items_memo {
    width: 300px !important;
    margin-left: 0px !important;
    font-size: 12px !important;

    padding-right: 60px !important;
  }

  .history_items_progress {
    font-size: 16px !important;
    width: 60px !important;
    padding: 4px 0px 0px 0px !important;
    margin: 0px 0px 8px 0px !important;
  }

  .history_items_memo {
    margin-bottom: 0px !important ;
  }
  .history_item_container {
    margin-left: 32px !important;
    padding-top: 413px !important;
    width: 320px !important;
    /* height: 60px !important; */
    padding: 6px 2px !important;
  }
  .history_Add_Btn {
    width: 64px !important;
    font-size: 12px !important;
  }
  .history_edit_Btn {
    font-size: 12px !important;
    width: 48px !important;
    height: 28px !important;
    margin-left: -24px !important;
  }
  .Excel_Customer_Add {
    font-size: 10px !important;
    margin-right: -36px;
  }

  .vertical-navbar {
    width: 112px !important;
    padding: 10px;
  }
  .brand {
    padding: 10px;
    font-size: 16px;
    margin: 24px 0px;
  }
  .userName {
    font-size: 14px !important;
    margin-bottom: 14px !important;
  }
  .navbar-icon,
  .navbar-welcome-text {
    display: none;
  }
  .navbar-item {
    font-size: 12px !important;
    padding-left: 10px !important;
    padding-right: 2px !important;
  }
  .title {
    padding-right: 2px !important;
  }
}
