@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/earlyaccess/notosanskr.css");

@font-face {
  font-family: "Inter";
  src:
    url("./fonts/Inter-Light.woff2") format("woff2"),
    url("./fonts/Inter-Light.woff") format("woff"),
    url("./fonts/Inter-Light.ttf") format("truetype"),
    url("./fonts/Inter-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src:
    url("./fonts/Inter-Regular.woff2") format("woff2"),
    url("./fonts/Inter-Regular.woff") format("woff"),
    url("./fonts/Inter-Regular.ttf") format("truetype"),
    url("./fonts/Inter-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src:
    url("./fonts/Inter-Medium.woff2") format("woff2"),
    url("./fonts/Inter-Medium.woff") format("woff"),
    url("./fonts/Inter-Medium.ttf") format("truetype"),
    url("./fonts/Inter-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src:
    url("./fonts/Inter-SemiBold.woff2") format("woff2"),
    url("./fonts/Inter-SemiBold.woff") format("woff"),
    url("./fonts/Inter-SemiBold.ttf") format("truetype"),
    url("./fonts/Inter-SemiBold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src:
    url("./fonts/Inter-Bold.woff2") format("woff2"),
    url("./fonts/Inter-Bold.woff") format("woff"),
    url("./fonts/Inter-Bold.ttf") format("truetype"),
    url("./fonts/Inter-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src:
    url("./fonts/Inter-ExtraBold.woff2") format("woff2"),
    url("./fonts/Inter-ExtraBold.woff") format("woff"),
    url("./fonts/Inter-ExtraBold.ttf") format("truetype"),
    url("./fonts/Inter-ExtraBold.otf") format("opentype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src:
    url("./fonts/Inter-Black.woff2") format("woff2"),
    url("./fonts/Inter-Black.woff") format("woff"),
    url("./fonts/Inter-Black.ttf") format("truetype"),
    url("./fonts/Inter-Black.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
}

/* --------------------------------------------------------------------------- */

body {
  margin: 0;
  font-family: "Inter", "Noto Sans KR", sans-serif;
}

* {
  font-family: "Inter", "Noto Sans KR", sans-serif;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */
