.dropdownButtonStyles {
  background-color: #e0e0e0;
  color: black;
  border-color: #b0b0b0;
  box-shadow: 4px 4px 4px 0px rgba(46, 64, 97, 0.3);
}

.listItemStyle {
  @apply mb-1 ml-1 h-[38px] cursor-default bg-white p-[9px] text-center text-sm font-normal;
}

.listItem1 {
  width: 128px;
  border-radius: 4px;
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
  cursor: default;
}

.listItem2 {
  width: 92px;
  font-weight: bold;
}

.listItem3 {
  width: 92px;
}

.listItem4 {
  width: 92px;
}

.listItem5 {
  width: 162px;
}

.listItem6 {
  width: 190px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.listItem7 {
  width: 148px;
  border-radius: 4px;
  border-bottom-left-radius: 0px !important;
  border-top-left-radius: 0px !important;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.listItemTitleStyle {
  @apply mb-2 ml-1 h-[38px] cursor-default bg-gray-200 p-[9px] text-center text-sm font-normal text-white;
}

.listTitle1 {
  width: 128px;
  border-radius: 4px;
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}

.listTitle2 {
  width: 92px;
}

.listTitle3 {
  width: 92px;
}

.listTitle4 {
  width: 92px;
}

.listTitle5 {
  width: 162px;
}

.listTitle6 {
  width: 190px;
}
.listTitle7 {
  width: 148px;
  border-radius: 4px;
  border-bottom-left-radius: 0px !important;
  border-top-left-radius: 0px !important;
}

.listItemStyle-contract {
  border: 2px solid #fff;
  background-color: var(--gray-100);
}

.listItemStyle-noContract {
  border: 1px solid #fff;
}
