.dropdownButtonStyles {
  background-color: #e0e0e0;
  color: black;
  border-color: #b0b0b0;
  box-shadow: 4px 4px 4px 0px rgba(46, 64, 97, 0.3);
}
.dropdown-menu .customDropdownItemStyles1 {
  /* --bs-dropdown-min-width: auto; */
  /* width: 94px !important; */
}

.listItemStyle1 {
  flex: none;
  width: 150px;
  height: 38px;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  padding: 9px;
  margin-bottom: 8px;
  margin-left: 48px;
  border-radius: 4px;
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
  cursor: default;
}

.listItemStyle1-contract {
  border: 1px solid #53b1fd;
}

.listItemStyle1-noContract {
  border: 1px solid #dddddd;
}
.listItemStyle2 {
  flex: none;
  width: 100px;
  height: 38px;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  padding: 9px;
  margin-bottom: 4px;
  margin-left: 4px;
  border-left: 1px solid #ddd;
  cursor: default;
}

.listItemStyle2-contract {
  border: 1px solid #53b1fd;
}

.listItemStyle2-noContract {
  border: 1px solid #dddddd;
}

.listItemStyle3 {
  flex: none;
  width: 100px;
  height: 38px;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  padding: 9px;
  margin-bottom: 4px;
  margin-left: 4px;
  border-left: 1px solid #ddd;
  cursor: default;
}

.listItemStyle3-contract {
  border: 1px solid #53b1fd;
}

.listItemStyle3-noContract {
  border: 1px solid #dddddd;
}

.listItemStyle4 {
  flex: none;
  width: 186px;
  height: 38px;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  padding: 9px;
  margin-bottom: 4px;
  margin-left: 4px;
  border-left: 1px solid #ddd;

  cursor: default;
}

.listItemStyle4-contract {
  border: 1px solid #53b1fd;
}

.listItemStyle4-noContract {
  border: 1px solid #dddddd;
}

.listItemStyle5 {
  flex: none;
  width: 162px;
  height: 38px;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  padding: 9px;
  margin-bottom: 4px;
  margin-left: 4px;
  border-left: 1px solid #ddd;
  border-radius: 5px;
  border-left-width: 1px !important;
  cursor: default;
}

.listItemStyle5-contract {
  border: 1px solid #53b1fd;
}

.listItemStyle5-noContract {
  border: 1px solid #dddddd;
}

.listItemStyle6 {
  flex: none;
  width: 190px;
  height: 38px;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  padding: 9px;
  margin-bottom: 4px;
  margin-left: 4px;
  border-left: 1px solid #ddd;
  border-radius: 4px;
  border-bottom-left-radius: 0px !important;
  border-top-left-radius: 0px !important;
  cursor: default;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.listItemStyle6-contract {
  border: 1px solid #53b1fd;
}

.listItemStyle6-noContract {
  border: 1px solid #dddddd;
}

.listItemTitleStyle1 {
  flex: none;
  width: 150px;
  height: 38px;
  font-size: 14px;
  text-align: center;
  padding: 9px;
  margin-bottom: 8px;
  border: none;
  border-radius: 4px;
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
  color: #fff;
  background-color: #5c636a;
  font-weight: normal;
  opacity: 0.9;
  cursor: default;
}

.listItemTitleStyle2 {
  flex: none;
  width: 100px;
  height: 38px;
  font-size: 14px;
  text-align: center;
  padding: 9px;
  margin-bottom: 8px;
  margin-left: 4px;
  border: none;
  color: #fff;
  background-color: #5c636a;
  font-weight: normal;
  opacity: 0.9;
  cursor: default;
}

.listItemTitleStyle3 {
  flex: none;
  width: 100px;
  height: 38px;
  font-size: 14px;
  text-align: center;
  padding: 9px;
  margin-bottom: 8px;
  margin-left: 4px;
  border: none;
  color: #fff;
  background-color: #5c636a;
  font-weight: normal;
  opacity: 0.9;
  cursor: default;
}

.listItemTitleStyle4 {
  flex: none;
  width: 186px;
  height: 38px;
  font-size: 14px;
  text-align: center;
  padding: 9px;
  margin-bottom: 8px;
  margin-left: 4px;
  border: none;
  color: #fff;
  background-color: #5c636a;
  font-weight: normal;
  opacity: 0.9;
  cursor: default;
}

.listItemTitleStyle5 {
  flex: none;
  width: 162px;
  height: 38px;
  font-size: 14px;
  text-align: center;
  padding: 9px;
  margin-bottom: 8px;
  margin-left: 4px;
  border: none;
  color: #fff;
  background-color: #5c636a;
  font-weight: normal;
  opacity: 0.9;
  cursor: default;
}

.listItemTitleStyle6 {
  flex: none;
  width: 190px;
  height: 38px;
  font-size: 14px;
  text-align: center;
  padding: 9px;
  margin-bottom: 8px;
  margin-left: 4px;
  border: none;
  border-radius: 4px;
  border-bottom-left-radius: 0px !important;
  border-top-left-radius: 0px !important;
  color: #fff;
  background-color: #5c636a;
  font-weight: normal;
  opacity: 0.9;
  cursor: default;
}
